{% extends 'layout.html' %}
{% block main_content %}
{% if notes %}
    <div class="notes">
        {% for note in notes %}
            <a class="note" href="{{ url_for('pages.note', _id=note._id) }}">
                <div class="title_date">
                    <h1 class="note__title">{{ note.title }}</h1>
                    <h3 class="note__date">{{ note.date }}</h3>
                </div>
                <div class="note__content">{{ note.content }}</div>
            </a>
        {% endfor %}
    </div>
{% endif %}
<a href="{{ url_for('pages.add_note') }}" class="button">+ add note</a>
{% endblock %}